<% layout('./layout/boilerplate') %>
<link rel="stylesheet" href="/CSS/checkOut.css">

<style>
    body{
        background-color: white;
    }
  .fa-circle-xmark{
    font-size: 20px;
  }
  .overflow{
    overflow-y: scroll;
    height: 50vh;
  }
  @media(max-width:700px){
    .product-details{
        position: absolute;
        left: 53%;
    }
  }
</style>

<% if(cart.length){ %> 
<div class="container mt-4">
    
        <div class="customer-form">
            <form action="/cart/placeOrder">
                <div class="display">
                    <label for="" class="form-label">Name :</label>
                    <input type="text" name="" id="" class="form-control" required>
                </div>
                <div class="display">
                    <label for="" class="form-label">Mobile No :</label>
                    <input type="number" name="" id="" class="form-control" min="10" required>
                </div>
                <div class="display">
                    <label for="" class="form-label">Address :</label>
                    <textarea name="" id="" cols="8" rows="1" class="form-control" required></textarea>
                </div>
                <div class="display">
                    <label for="" class="form-label">Zip Code :</label>
                    <input type="number" name="" id="" class="form-control" min="6" required>
                </div>
                <div class="display">
                    <label for="" class="form-label">State :</label>
                    <input type="text" name="" id=""class="form-control" required>
                    <label for="" class="form-label">City :</label>
                    <input type="text" name="" id=""class="form-control" required>
                </div>
                <div class="display mt-3">
                    <input type="radio" name="payment" id="dc" required>
                    <label for="dc">Debit Card</label>
                </div>
                <div class="display">
                    <input type="radio" name="payment" id="cc" required>
                    <label for="cc">Credit Card</label>
                </div>
                <div class="display">
                    <input type="radio" name="payment" id="nb" required>
                    <label for="nb">Net Banking</label>
                </div>
                <div class="display">
                    <input type="radio" name="payment" id="upi" required>
                    <label for="upi">UPI</label>
                </div>
                <% let sum = 0 %> 
                 <%= cart.forEach(num=>{(sum+=num.price*num.qty)}) %> 
                 <h4 class="mt-3">Total Amount : <b>&#8377;</b><%= sum %></h4>  
                <button class="btn btn-success mt-3">Place Order</button>
            </form>
        </div>
    
   
    <div class="product-details">
        
       <div class="overflow">
       <% for(let c of cart){ %>
        <div class="card-body px-4">
            <% c.image.forEach(img=>{ %> 
                <div class="d-flex justify-content-between">
                <img src="<%= img.thumbnail %>" alt="" class="img-thumbnail mt-2">
                <form action="/cart?_method=delete" method="post" class="mt-2">
                    <input type="text" name="_id" value="<%= c._id %>" class="d-none">
                    <button class="btn btn-sm"><i class="fa-regular fa-circle-xmark"></i></button>
                </form>
            </div>
            <% }) %> 
            <h4 class="mt-1"><%= c.name %></h4>
            <form action="/cart?_method=put" method="post" id="qty-submit">
                <input type="text" name="_id" value="<%= c._id %>" class="d-none"> 
                <select name="qty" style="background-color: #fff; color: #000;" onchange="this.form.submit()">
                    <option value="">Selected Quantity : <%= c.qty %></option>
                    <% for(let i=1;i<=5;i++){ %> 
                    <option value="<%= i %>" name="qty"><%= i %></option>
                    <% } %> 
                </select>
              </form>
              <b class="d-block mt-2">QTY : <%= c.qty %></b>
            <b>&#8377; <%= c.price*c.qty %></b>
            <% for(let p of product){ %>
                <% if(c.name === p.name){ %> 
            <form action="/cart/product/stock?_method=put" method="post" class="mb-2">
                <input type="number" name="stock" value="<%= p.stock-c.qty %>" class="d-none">
                <input type="text" name="_id" value="<%= p._id %>" class="d-none">
                <button class="btn btn-sm btn-warning mt-2">Confirm</button>
            </form>
            <% } %> 
            <% } %> 
        </div> 
        <% } %>   
    </div>           
    </div>
</div>
<% }else{ %>
    <div class="empty">
        <h1>Cart is Empty</h1>
    </div>
<% } %> 
